body, #modalBackground {
    background-color: #556b2f;
    color: #DFFFAA;
}

.checklistItem {
    background-color: #a1dd39;
    color: #0F591B;
}

.checklistItem-active {
    background-color: #3d4f1e;
    color: #C6E298;
}