body {
    background-color: #556b2f;
    color: #C6E298;
}

#checklistItem {
    background-color: #a1dd39;
    color: #0F591B;
}

#checklistItem-active {
    background-color: #3d4f1e;
    color: #C6E298;
}